/* RESET ==================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-color-high-pure);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* VARIABLES ==================================== */
:root {
  --header-height: 6.25rem;

  /* HSL color mode */

  /* Hue*/
  --hue-primary: 0;
  --hue-secondary: 105;
  --hue-highlight: 307;
  --hue-neutral: 231;

  /* Brand colors */

  /* Primary */
  --brand-color-primary-pure: hsl(var(--hue-primary) 0% 95%);
  --brand-color-primary-light: hsl(var(--hue-primary) 0% 100%);
  --brand-color-primary-medium: hsl(var(--hue-primary) 0% 79%);
  --brand-color-primary-dark: hsl(var(--hue-primary) 0% 71%);

  /* Secondary */
  --brand-color-secondary-pure: hsl(var(--hue-secondary) 100% 40%);
  --brand-color-secondary-light: hsl(var(--hue-secondary) 16% 99%);
  --brand-color-secondary-medium: hsl(var(--hue-secondary) 100% 60%);
  --brand-color-secondary-dark: hsl(var(--hue-secondary) 100% 36%);

  /* Highliht */
  --highlight-color-pure: hsl(var(--hue-highlight) 81% 63%);
  --highlight-color-light: hsl(var(--hue-highlight) 80% 100%);
  --highlight-color-medium: hsl(var(--hue-highlight) 81% 44%);
  --highlight-color-dark: hsl(var(--hue-highlight) 32% 100%);

  /* Neutral Low */
  --neutral-color-low-pure: hsl(var(--hue-neutral) 61% 17%);
  --neutral-color-low-light: hsl(var(--hue-neutral) 5% 47%);
  --neutral-color-low-medium: hsl(var(--hue-neutral) 7% 37%);
  --neutral-color-low-dark: hsl(var(--hue-neutral) 16% 27%);

  /* Neutral High */
  --neutral-color-high-pure: hsl(var(--hue-neutral) 0% 95%);
  --neutral-color-high-light: hsl(var(--hue-neutral) 0% 100%);
  --neutral-color-high-medium: hsl(var(--hue-neutral) 0% 79%);
  --neutral-color-high-dark: hsl(var(--hue-neutral) 0% 71%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --body-font-size: 1rem;

  --title-font: 'Montserrat', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.header {
  height: var(--header-height);
  background-color: var(--brand-color-secondary-pure);
}

.titulo-empresa {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titulo-empresa div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titulo-empresa button {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #33cb00;
}

.titulo-empresa div p {
  padding-left: 0.5rem;
  font-family: sans-serif;
  font-size: 0.875rem;
}

.titulo-empresa div img {
  border-radius: 4px;
}

.titulo-empresa img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border: 1px solid #cfd8dc;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.mySwiper .swiper-slide {
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 9.75rem;
  height: 15.125rem;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper img {
  width: 9.75rem;
  height: 9.75rem;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
}

.text-produto {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nome-produto {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

.preco-produto {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.section-cards {
  display: flex;
  flex-direction: row;
}

.card-empresas {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15.125rem;
  background-color: white;
  border: 1px solid #cfd8dc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.slider-2 {
  display: flex;
  flex-direction: row;
}

.card-empresas img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border: 1px solid #cfd8dc;
}

.card-empresas p {
  font-family: sans-serif;
  font-size: 0.875rem;
  padding-left: 0.5rem;
}
